h1, h2, h3, p {
  margin: 0;
}
input {
  outline: 0;
  border: 0;
  padding: 0;
}
button {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}