body {
  font-family: "Geist", sans-serif;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 24px;
}
.layout {
  display: flex;
}
.sidebar {
  background-color: #fafafa;
  padding-top: 64px;
  width: 255px;

  border-right: 1px solid #dfe6eb;
}

.nav {
  position: fixed;
  padding: 16px;
}

.nav__item {
  padding: 8px 12px;
  border-radius: 8px;

  transition: all .3s ease;
}

.nav__item:hover {
  background-color: #dbe6f2;

  .nav__item-link {
    color: #00388b;
  }
}

.nav__item svg {
  width: 16px;
  height: 16px;
}

.nav__item-link {
  font-weight: 500;
  line-height: 20px;

  display: flex;
  align-items: center;
  gap: 12px;
}

.layout-main {
  flex: 1;
}

.header {
  position: fixed;
  width: calc(100% - 304px);
  right: 0;

  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 24px;

  border-bottom: 1px solid #dfe6eb;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.header__logo-img {
  background-color: #003884;
  border-radius: 10px;

  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform .3s ease;
}

.header__logo-img:hover {
  transform: scale(1.1);
}

.header__logo-img img {
  height: 20px;
  width: 20px;
}

.header__title {
  color: #12171a;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.header__exit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 0 10px;
  height: 32px;
  border-radius: 8px;

  border: 1px solid #dfe6eb;

  cursor: pointer;

  color: #12171a;
  line-height: 20px;
  font-weight: 500;

  transition: all .3s ease;
}

.header__exit:hover {
  background-color: #0091ff;
  color: white;
}

.main {
  margin-top: 64px;
  background-color: #f8f8f9;

  min-height: calc(100vh - 67px);
}

.main__title {
  color: #12171a;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;

  margin-bottom: 5px;
}

.main__desc {
  color: #6f757a;
  
  margin-bottom: 24px;
}

.widgets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;

  margin-bottom: 24px;
}

.widgets__widget {
  width: 256px;
  padding: 24px;

  background-color: #fff;
  border-radius: 14px;
  border: 1px solid #dfe6eb;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;

  transition: all .3s ease;
}

.widgets__widget:hover {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
}

.widgets__widget-img {
  padding: 12px;
  width: 24px;
  height: 24px;
  border-radius: 10px;
  
  margin-bottom: 40px;
}

.widgets__widget-img_blue {
  color: #155dfc;
  background-color: #eff6ff;
}

.widgets__widget-img_green {
  color: #00a63e;
  background-color: #f0fdf4;
}

.widgets__widget-img_orange {
  color: #e17100;
  background-color: #fffbeb;
}

.widgets__widget-img_purple {
  color: #9810fa;
  background-color: #faf5ff;
}

.widgets__widget-text {
  font-weight: 500;
  line-height: 20px;

  color: #6f757a;

  margin-bottom: 8px;
}

.widgets__widget-count {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  color: #12171a;

  margin-bottom: 40px;
}

.widgets__widget-link {
  color: #00397d;
  font-weight: 500;
  line-height: 20px;
  
  display: flex;
  align-items: center;
  gap: 8px;

  transition: gap .3s ease;
}

.widgets__widget-link:hover {
  gap: 10px;
}

.widgets__widget-link svg {
  width: 16px;
  height: 16px;
}

.nearest {
  background-color: #fff;
  border-radius: 14px;
  border: 1px solid #dfe6eb;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;

  padding: 24px 8px;
  margin-bottom: 32px;
}

.nearest__title {
  color: #12171a;

  font-size: 18px;
  font-weight: 600;
  line-height: 28px;

  padding: 24px 16px;
}

.nearest__table {
  width: 100%;

  border-collapse: collapse;
}

.nearest__table-header {
  text-align: left;
}

.nearest__table-row {
  border-top: 1px solid #dfe6eb;

  transition: background-color .3s ease;
}

.nearest__table-row:hover {
  background-color: #f2f5f8;
}

.nearest__table-head {
  padding: 24px 8px 0;
  height: 40px;

  color: #12171a;

  font-weight: 500;
  line-height: 20px;
}

.nearest__table-cell {
  color: #12171a;
  padding: 8px;
  height: 40px;
  line-height: 20px;
}

.nearest__table-cell_bold {
  font-weight: 500;
}

.nearest__table-cell_active {
  background-color: #dcfce7;
  border-radius: 10px;
  color: #026630;;
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
  padding: 4px 12px;
}

.nearest__table-cell_confirmed {
  background-color: #dbeafe;
  border-radius: 10px;
  padding: 4px 12px;
  
  color: #193cb8;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.nearest__table-cell_cancelled, .nearest__table-cell_completed {
  background-color: #f3f4f6;
  border-radius: 10px;
  padding: 4px 12px;
  
  color: #1e2939;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.nearest__table-cell_overdue {
  background-color: #ffe2e2;
  border-radius: 10px;
  padding: 4px 12px;
  
  color: #9f0712;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.nearest__table-cell-link {
  color: #12171a;
  font-weight: 500;
  line-height: 20px;

  display: inline-flex;
  align-items: center;
  gap: 8px;
  justify-content: end;

  height: 32px;
  border-radius: 8px;
  padding-right: 10px;
  padding-left: 10px;

  transition: all .3s ease;
}

.nearest__table-cell-link svg {
  width: 16px;
  height: 16px;
}

.nearest__table-cell-link:hover {
  color: #fff;
  background-color: #0091ff;
}

.nearest__table-head:last-child {
  text-align: right;
}

.nearest__table-cell:last-child {
  text-align: right;
  padding-right: 10px;
}

.status {
  background-color: #fff;
  border-radius: 14px;
  border: 1px solid #dfe6eb;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;

  padding: 24px 8px;
}

.status__title {
    color: #12171a;

  font-size: 18px;
  font-weight: 600;
  line-height: 28px;

  padding: 24px 16px;
}

.status__table {
  width: 100%;

  border-collapse: collapse;
}

.status__table-header {
  text-align: right;
}

.status__table-row {
  border-top: 1px solid #dfe6eb;

  transition: background-color .3s ease;
}

.status__table-row:hover {
  background-color: #f2f5f8;
}

.status__table-head {
  padding: 24px 8px 0;
  height: 40px;

  color: #12171a;

  font-weight: 500;
  line-height: 20px;
}

.status__table-cell {
  color: #12171a;
  padding: 8px;
  height: 40px;
  line-height: 20px;
  text-align: right;
}

.status__table-head:first-child {
  text-align: left;
}

.status__table-cell:first-child {
  text-align: left;
}

.status__table-head_green {
  color: #00a63e;
}

.status__table-head_blue {
  color: #155dfc;
}

.status__table-head_orange {
  color: #e17100;
}

.status__table-head_red {
  color: #ef4444;;
}

.status__table-cell_green {
  color: #00a63e;
}

.status__table-cell_blue {
  color: #155dfc;
}

.status__table-cell_orange {
  color: #e17100;
}

.status__table-cell_red {
  color: #ef4444;;
}