body {
  font-family: "Geist", sans-serif;
}

hr {
  margin: 0;
  border: 0;
  height: 1px;
  background-color: #dfe6eb;
}

.container {
  max-width: 770px;
  margin: 0 auto;
  padding: 24px 24px;
}

.layout {
  display: flex;
}

.sidebar {
  background-color: #fafafa;
  padding-top: 64px;
  width: 255px;

  border-right: 1px solid #dfe6eb;
}

.nav {
  position: fixed;
  padding: 16px;
}

.nav__item {
  padding: 8px 12px;
  border-radius: 8px;

  transition: all .3s ease;
}

.nav__item:hover {
  background-color: #dbe6f2;

  .nav__item-link {
    color: #00388b;
  }
}

.nav__item svg {
  width: 16px;
  height: 16px;
}

.nav__item-link {
  font-weight: 500;
  line-height: 20px;

  display: flex;
  align-items: center;
  gap: 12px;
}

.layout-main {
  flex: 1;
}

.header {
  position: fixed;
  width: calc(100% - 304px);
  right: 0;

  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 24px;

  border-bottom: 1px solid #dfe6eb;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.header__logo-img {
  background-color: #003884;
  border-radius: 10px;

  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform .3s ease;
}

.header__logo-img:hover {
  transform: scale(1.1);
}

.header__logo-img img {
  height: 20px;
  width: 20px;
}

.header__title {
  color: #12171a;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.header__exit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 0 10px;
  height: 32px;
  border-radius: 8px;

  border: 1px solid #dfe6eb;

  cursor: pointer;

  color: #12171a;
  line-height: 20px;
  font-weight: 500;

  transition: all .3s ease;
}

.header__exit:hover {
  background-color: #0091ff;
  color: white;
}

.main {
  margin-top: 64px;
  background-color: #f8f8f9;

  min-height: calc(100vh - 67px);
}

.main__content {
  display: flex;
  justify-content: space-between;
  align-items: end;

  margin-bottom: 24px;
}

.main__title {
  color: #12171a;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;

  margin-bottom: 5px;
}

.main__desc {
  color: #6f757a;
}

.main__cancel-button {
  padding: 8px 16px;
  border-radius: 8px;

  border: 1px solid #dfe6eb;

  cursor: pointer;

  color: #12171a;
  line-height: 20px;
  font-weight: 500;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  transition: all .3s ease;
}

.main__cancel-button:hover {
  background-color: #0091ff;
  color: white;
}

.room-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.room-form__card {
  background-color: #fff;
  border: 1px solid #dfe6eb;
  border-radius: 14px;
  
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
}

.room-form__title {
  color: #12171a;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;

  padding: 24px;
}

.room-form__card-general {
  padding: 48px 24px 24px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.room-form__field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.room-form__label {
  color: #12171a;
  font-weight: 500;
  line-height: 14px;
}

.room-form__input {
  background-color: transparent;
  border: 1px solid #eff2f5;
  border-radius: 8px;
  padding: 4px 12px;
  height: 26px;
  width: calc(100% - 26px);

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  color: #12171a;
  line-height: 20px;

  transition: all .3s ease;
}

.room-form__input:focus {
  border: 1px solid #003884;
}

.room-form__select {
  background-color: transparent;
  border: 1px solid #eff2f5;
  border-radius: 8px;
  padding: 4px 12px;
  height: 36px;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  cursor: pointer;

  color: #12171a;
  line-height: 20px;
}

.room-form__card-price-and-capacity {
  padding: 48px 24px 24px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.room-form__card-status {
  padding: 48px 24px 24px;
}

.room-form__card-equipment {
  padding: 48px 24px 24px;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.room-form__card-equipment .room-form__field {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.room-form__card-equipment .room-form__label {
  font-weight: 400;
}

.room-form__checkbox {
  cursor: pointer;
}

.room-form__buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.room-form__cancel-button {
  flex: 1;

  background-color: transparent;
  border: 1px solid #dfe6eb;
  border-radius: 8px;
  padding: 8px 16px;
  text-align: center;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  color: #12171a;
  font-weight: 500;
  line-height: 20px;

  cursor: pointer;

  transition: all .3s ease;
}

.room-form__cancel-button:hover {
  background-color: #0091ff;
  color: white;
}

.room-form__create-button {
  flex: 1;

  background-color: #003884;
  border: 1px solid #dfe6eb;
  border-radius: 8px;
  padding: 8px 16px;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  color: #fff;
  font-weight: 500;
  line-height: 20px;

  cursor: pointer;

  transition: all .3s ease;
}

.room-form__create-button:hover {
  background-color: #194b90;
}

.room-form__create-button:disabled {
  background-color: #003884;
  border-radius: 8px;

  color: #fff;

  cursor: auto;

  opacity: .5;
}