body {
  font-family: "Geist", sans-serif;
}

hr {
  margin: 0;
  border: 0;
  height: 1px;
  background-color: #dfe6eb;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 24px;
}

.layout {
  display: flex;
}

.sidebar {
  background-color: #fafafa;
  padding-top: 64px;
  width: 255px;

  border-right: 1px solid #dfe6eb;
}

.nav {
  position: fixed;
  padding: 16px;
}

.nav__item {
  padding: 8px 12px;
  border-radius: 8px;

  transition: all .3s ease;
}

.nav__item:hover {
  background-color: #dbe6f2;

  .nav__item-link {
    color: #00388b;
  }
}

.nav__item svg {
  width: 16px;
  height: 16px;
}

.nav__item-link {
  font-weight: 500;
  line-height: 20px;

  display: flex;
  align-items: center;
  gap: 12px;
}

.layout-main {
  flex: 1;
}

.header {
  position: fixed;
  width: calc(100% - 304px);
  right: 0;

  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 24px;

  border-bottom: 1px solid #dfe6eb;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.header__logo-img {
  background-color: #003884;
  border-radius: 10px;

  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform .3s ease;
}

.header__logo-img:hover {
  transform: scale(1.1);
}

.header__logo-img img {
  height: 20px;
  width: 20px;
}

.header__title {
  color: #12171a;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.header__exit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 0 10px;
  height: 32px;
  border-radius: 8px;

  border: 1px solid #dfe6eb;

  cursor: pointer;

  color: #12171a;
  line-height: 20px;
  font-weight: 500;

  transition: all .3s ease;
}

.header__exit:hover {
  background-color: #0091ff;
  color: white;
}

.main {
  margin-top: 64px;
  background-color: #f8f8f9;

  min-height: calc(100vh - 67px);
}

.main__content {
  display: flex;
  justify-content: space-between;
  align-items: start;

  margin-bottom: 24px;
}

.main__title {
  color: #12171a;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  margin-bottom: 5px;
}

.main__desc {
  color: #6f757a;
}

.main__actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main__button {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 0 12px;
  border: 1px solid #dfe6eb;
  border-radius: 8px;
  height: 30px;
  background-color: transparent;

  font-weight: 500;
  line-height: 20px;
  color: #12171a;

  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  transition: all .3s ease;
}

.main__button svg {
  width: 16px;
  height: 16px;
}

.main__button:hover {
  background-color: #0091ff;
  color: white;
}

.main__button_green {
  background-color: #00a63e;
  color: #fff;
  border: none;
}

.main__button_green:hover {
  background-color: #008236;
}

.main__button_red {
  color: #e7000b;
}

.main__button_red:hover {
  color: #e7000b;
}

.data {

}

.data__general, .data__status, .data__price, .data__conveniences, .data__booking-history {
  background-color: #fff;
  border: 1px solid #dfe6eb;
  border-radius: 14px;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;

  margin-bottom: 24px;
}

.data__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #12171a;

  margin: 24px;
}

.data__general-data, .data__status-data, .data__price-data, .data__conveniences-data, .data__booking-history-data {
  padding: 48px 24px 24px;
}

.data__general-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.data__block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.data__label {
  color: #12171a;
  font-weight: 500;
  line-height: 20px;
}

.data__input {
  padding: 4px 12px;
  border: 1px solid #eff2f5;
  border-radius: 8px;
  background-color: transparent;
  height: 26px;
  max-width: 290px;
  
  color: #12171a;
  line-height: 20px;
  font-weight: 400;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.data__input:read-only {
  opacity: .5;
}

.data__select {
  padding: 8px 12px;
  border: 1px solid #eff2f5;
  border-radius: 8px;
  background-color: transparent;
  height: 36px;

  color: #12171a;
  line-height: 20px;
  font-weight: 400;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.data__status-data {
  display: flex;
  gap: 16px;
  align-items: end;
}

.data__status-data .data__block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.data__status_free {
  background-color: #dcfce7;
  border-radius: 10px;
  padding: 4px 12px;

  color: #016630;
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;

  margin-bottom: 6px;
}

.data__status_ready {
  background-color: #cbfbf1;
  border-radius: 10px;
  padding: 4px 12px;

  color: #005f5a;
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;

  margin-bottom: 6px;
}

.data__status_busy {
  background-color: #ffe2e2;
  border-radius: 10px;
  padding: 4px 12px;

  color: #9f0712;
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;

  margin-bottom: 6px;
}

.data__status_repair {
  background-color: #ffe2e2;
  border-radius: 10px;
  padding: 4px 12px;

  color: #9f0712;
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;

  margin-bottom: 6px;
}

.data__status_booked {
  background-color: #dbeafe;
  border-radius: 10px;
  padding: 4px 12px;

  color: #193cb8;
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;

  margin-bottom: 6px;
}

.data__status_cleaning {
  background-color: #fef9c2;
  border-radius: 10px;
  padding: 4px 12px;

  color: #894b00;
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;

  margin-bottom: 6px;
}

.data__status_need-cleaning {
  background-color: #ffedd4;
  border-radius: 10px;
  padding: 4px 12px;

  color: #9f2d00;
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;

  margin-bottom: 6px;
}

.data__conveniences-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px
}

.data__conveniences .data__block{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.data__boking-history {
  margin-bottom: 0;
}

.data__table {
  width: 100%;

  border-collapse: collapse;
}

.data__table-header {
  text-align: left;
}

.data__table-row {
  transition: background-color .3s ease;
}

.data__table-row:hover {
  background-color: #f2f5f8;
}

.data__table-head {
  padding: 0 8px;
  height: 40px;

  font-weight: 500;
  line-height: 20px;
  color: #12171a;
}

.data__table-cell {
  border-top: 1px solid #dfe6eb;

  color: #12171a;
  padding: 8px;
  line-height: 20px;
}

.data__table-cell_bold {
  font-weight: 500;
}

.data__booking-history_completed {
  background-color: #dcfce7;
  padding: 4px 8px;
  border-radius: 4px;

  color:#016630;
  line-height: 16px;
  size: 12px;
  font-weight: 500;
}

.data__booking-history_active {
  background-color: #dbeafe;
  padding: 4px 8px;
  border-radius: 4px;

  color: #193cb8;
  line-height: 16px;
  size: 12px;
  font-weight: 500;
}

.data__booking-history_confirmed {
  background-color: #cefafe;
  padding: 4px 8px;
  border-radius: 4px;

  color: #005f78;
  line-height: 16px;
  size: 12px;
  font-weight: 500;
}

.data__booking-history_completed {
  background-color: #dcfce7;
  padding: 4px 8px;
  border-radius: 4px;

  color:#016630;
  line-height: 16px;
  size: 12px;
  font-weight: 500;
}

.data__booking-history_cancelled {
  background-color: #f3f4f6;
  padding: 4px 8px;
  border-radius: 4px;

  color:#1e2939;
  line-height: 16px;
  size: 12px;
  font-weight: 500;
}

.data__booking-history_overdue {
  background-color: #ffe2e2;
  padding: 4px 8px;
  border-radius: 4px;

  color:#9f0712;
  line-height: 16px;
  size: 12px;
  font-weight: 500;
}