body {
  font-family: "Geist", sans-serif;
}

hr {
  margin: 0;
  border: 0;
  height: 1px;
  background-color: #dfe6eb;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 24px;
}

.layout {
  display: flex;
}

.sidebar {
  background-color: #fafafa;
  padding-top: 64px;
  width: 255px;

  border-right: 1px solid #dfe6eb;
}

.nav {
  position: fixed;
  padding: 16px;
}

.nav__item {
  padding: 8px 12px;
  border-radius: 8px;

  transition: all .3s ease;
}

.nav__item:hover {
  background-color: #dbe6f2;

  .nav__item-link {
    color: #00388b;
  }
}

.nav__item svg {
  width: 16px;
  height: 16px;
}

.nav__item-link {
  font-weight: 500;
  line-height: 20px;

  display: flex;
  align-items: center;
  gap: 12px;
}

.layout-main {
  flex: 1;
}

.header {
  position: fixed;
  width: calc(100% - 304px);
  right: 0;

  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 24px;

  border-bottom: 1px solid #dfe6eb;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.header__logo-img {
  background-color: #003884;
  border-radius: 10px;

  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform .3s ease;
}

.header__logo-img:hover {
  transform: scale(1.1);
}

.header__logo-img img {
  height: 20px;
  width: 20px;
}

.header__title {
  color: #12171a;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.header__exit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 0 10px;
  height: 32px;
  border-radius: 8px;

  border: 1px solid #dfe6eb;

  cursor: pointer;

  color: #12171a;
  line-height: 20px;
  font-weight: 500;

  transition: all .3s ease;
}

.header__exit:hover {
  background-color: #0091ff;
  color: white;
}

.main {
  margin-top: 64px;
  background-color: #f8f8f9;
  min-height: calc(100vh - 67px);
}

.main__content {
  display: flex;
  justify-content: space-between;
  align-items: start;

  margin-bottom: 24px;
}

.main__title {
  color: #12171a;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  max-width: 400px;
  margin-bottom: 5px;
}

.main__desc {
  color: #6f757a;
}

.main__actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main__button {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 0 12px;
  border: 1px solid #dfe6eb;
  border-radius: 8px;
  height: 30px;
  background-color: transparent;

  font-weight: 500;
  line-height: 20px;
  color: #12171a;

  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  transition: all .3s ease;
}

.main__button svg {
  width: 16px;
  height: 16px;
}

.main__button:hover {
  background-color: #0091ff;
  color: white;
}

.main__button_red {
  color: #e7000b;
}

.main__button_red:hover {
  color: #e7000b;
}

.main__button_green {
  background-color: #00a63e;
  color: #fff;
  border: none;
}

.main__button_green:hover {
  background-color: #008236;
}

.data {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 24px;
}

.data__basic, .data__activity, .data__documents {
  background-color: #fff;
  border: 1px solid #dfe6eb;
  border-radius: 14px;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
}

.data__documents {
  grid-column: 1 / 3;
}

.data__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #12171a;

  margin: 24px;
}

.data__basic-data, .data__activity-data, .data__documents-data {
  padding: 48px 24px 24px;
}

.data__basic-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: 24px;
}

.data__input {
  padding: 4px 12px;
  border: 1px solid #eff2f5;
  border-radius: 8px;
  background-color: transparent;
  height: 26px;
  max-width: 290px;
  
  color: #12171a;
  line-height: 20px;
  font-weight: 400;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.data__input:read-only {
  opacity: .5;
}

.data__select {
  padding: 8px 12px;
  border: 1px solid #eff2f5;
  border-radius: 8px;
  background-color: transparent;
  height: 36px;

  color: #12171a;
  line-height: 20px;
  font-weight: 400;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.data__activity-data {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.data__documents-data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.data__block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.data__text {
  color: #6f757a;
  font-weight: 500;
  line-height: 20px;
}

.data__text_black {
  color: #12171a;
}

.data__text_bold {
  color: #12171a;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.data__text_blue {
  color: #155dfc;
}

.data__text_green {
  color: #00a63e;
}

.data__text_dark-blue {
  color: #00397d;
}