body {
  font-family: "Geist", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 24px;
}

.layout {
  display: flex;
}

.sidebar {
  background-color: #fafafa;
  padding-top: 64px;
  width: 255px;

  border-right: 1px solid #dfe6eb;
}

.nav {
  position: fixed;
  padding: 16px;
}

.nav__item {
  padding: 8px 12px;
  border-radius: 8px;

  transition: all .3s ease;
}

.nav__item:hover {
  background-color: #dbe6f2;

  .nav__item-link {
    color: #00388b;
  }
}

.nav__item svg {
  width: 16px;
  height: 16px;
}

.nav__item-link {
  font-weight: 500;
  line-height: 20px;

  display: flex;
  align-items: center;
  gap: 12px;
}

.layout-main {
  flex: 1;
}

.header {
  position: fixed;
  width: calc(100% - 304px);
  right: 0;

  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 24px;

  border-bottom: 1px solid #dfe6eb;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.header__logo-img {
  background-color: #003884;
  border-radius: 10px;

  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform .3s ease;
}

.header__logo-img:hover {
  transform: scale(1.1);
}

.header__logo-img img {
  height: 20px;
  width: 20px;
}

.header__title {
  color: #12171a;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.header__exit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 0 10px;
  height: 32px;
  border-radius: 8px;

  border: 1px solid #dfe6eb;

  cursor: pointer;

  color: #12171a;
  line-height: 20px;
  font-weight: 500;

  transition: all .3s ease;
}

.header__exit:hover {
  background-color: #0091ff;
  color: white;
}

.main {
  margin-top: 64px;
  background-color: #f8f8f9;

  min-height: calc(100vh - 67px);
}

.main__content {
  display: flex;
  justify-content: space-between;
  align-items: end;

  margin-bottom: 24px;
}

.main__title {
  color: #12171a;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;

  margin-bottom: 5px;
}

.main__desc {
  color: #6f757a;
}

.main__add-button {
  display: flex;
  align-items: center;
  gap: 8px;

  background-color: #00397d;
  color: #fff;
  border-radius: 8px;
  padding: 8px 12px;

  line-height: 20px;
  font-weight: 500;

  transition: all .3s ease;
}

.main__add-button svg {
  width: 16px;
  height: 16px;
}

.main__add-button:hover {
  background-color: #194b90;
}

.search {
  background-color: #fff;
  border-radius: 14px;
  border: 1px solid #dfe6eb;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  margin-bottom: 24px;
}

.search__input {
  width: 100%;
  margin-bottom: 16px;
  padding: 4px 12px 4px 40px;
  border-radius: 8px;
  border: 1px solid #eff2f5;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  line-height: 20px;

  height: 36px;

  background-image: url(../../images/icons/search-icon.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position-y: center;
  background-position-x: 12px;
}

.search__input:focus {
  border: 1px solid #003884;
}

.search__filters {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;

  margin-bottom: 16px;
}

.search__filters-type, .search__filters-country {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search__label {
  font-weight: 500;
  line-height: 14px;
  color: #12171a;
}

.search__select {
  line-height: 20px;
  border-radius: 8px;
  border: 1px solid #eff2f5;
  padding: 8px 12px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  cursor: pointer;
}

.search__filters-bookings {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-right: 80px;
}

.search__checkbox {
  cursor: pointer;
}

.search__reset-button {
  display: flex;
  align-items: center;
  gap: 8px;

  background-color: #fff;
  border: 1px solid #dfe6eb;
  border-radius: 8px;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  color: #12171a;
  line-height: 20px;
  padding: 0 10px;
  height: 32px;
  margin-left: auto;

  cursor: pointer;

  transition: all .3s ease;
}

.search__reset-button:hover {
  color: #fff;
  background-color: #0091ff;
}

.clients {
  background-color: #fff;
  border-radius: 14px;
  border: 1px solid #dfe6eb;
  padding: 24px 0;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  margin-bottom: 24px;
}

.clients__table {
  width: 100%;

  border-collapse: collapse;
}

.clients__table-header {
  text-align: left;
}

.clients__table-row {
  transition: background-color .3s ease;
}

.clients__table-row:hover {
  background-color: #f2f5f8;
}

.clients__table-head {
  padding: 0 8px;
  height: 40px;

  font-weight: 500;
  line-height: 20px;
  color: #12171a;
}

.clients__table-head-button {
  font-weight: 500;
  line-height: 20px;
  color: #12171a;
  height: 40px;

  background-color: transparent;
  cursor: pointer;

  transition: all .3s ease;
}

.clients__table-head-button:hover {
  color: #00397d;
}

.clients__table-cell {
  border-top: 1px solid #dfe6eb;

  color: #12171a;
  padding: 8px;
  line-height: 20px;
}

.clients__client, .clients__document {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.clients_gray {
  color: #6f757a;
  font-weight: 400;
}

.clients__table-cell-actions {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.clients__table-cell-action {
  background-color: transparent;

  display: flex;
  align-items: center;

  padding: 0 10px;
  border-radius: 8px;

  cursor: pointer;

  transition: all .3s ease;
}

.clients__table-cell-action svg {
  height: 32px;
  width: 16px;
}

.clients__table-cell-action:hover {
  background-color: #0091ff;
  color: white;
}

.clients__table-head:last-child {
  text-align: right;
}

.clients__table-cell:last-child {
  text-align: right;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__text {
  color: #6f757a;
  line-height: 20px;
}

.pagination__nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pagination__button {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 20px;
  color: #12171a;

  padding: 0 12px;
  height: 32px;

  background-color: #f8f8f9;
  border: 1px solid #dfe6eb;
  border-radius: 8px;

  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  transition: all .3s ease;
}

.pagination__pages {
  display: flex;
  align-items: center;
  gap: 4px;
}

.pagination__pages-button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f8f8f9;
  border: 1px solid #dfe6eb;
  border-radius: 8px;
  padding: 0 12px;
  height: 30px;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.pagination__button:hover, .pagination__pages-button:hover {
  background-color: #0091ff;
  color: white;
}

.pagination__button:disabled {
  background-color: #f8f8f9;
  color: #12171a;
  cursor: auto;

  opacity: .5;
}

.pagination__pages-button_current {
  background-color: #00397d;
  border-color: #00397d;
  box-shadow: none;
  
  color: #fff;

  cursor: auto;


  transition: all .3s ease;
}

.pagination__pages-button_current:hover {
  background-color: #194b90;
}