body {
  font-family: "Geist", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 24px;
}

.layout {
  display: flex;
}

.sidebar {
  background-color: #fafafa;
  padding-top: 64px;
  width: 255px;

  border-right: 1px solid #dfe6eb;
}

.nav {
  position: fixed;
  padding: 16px;
}

.nav__item {
  padding: 8px 12px;
  border-radius: 8px;

  transition: all .3s ease;
}

.nav__item:hover {
  background-color: #dbe6f2;

  .nav__item-link {
    color: #00388b;
  }
}

.nav__item svg {
  width: 16px;
  height: 16px;
}

.nav__item-link {
  font-weight: 500;
  line-height: 20px;

  display: flex;
  align-items: center;
  gap: 12px;
}

.layout-main {
  flex: 1;
}

.header {
  position: fixed;
  width: calc(100% - 304px);
  right: 0;

  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 24px;

  border-bottom: 1px solid #dfe6eb;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.header__logo-img {
  background-color: #003884;
  border-radius: 10px;

  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform .3s ease;
}

.header__logo-img:hover {
  transform: scale(1.1);
}

.header__logo-img img {
  height: 20px;
  width: 20px;
}

.header__title {
  color: #12171a;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.header__exit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 0 10px;
  height: 32px;
  border-radius: 8px;

  border: 1px solid #dfe6eb;

  cursor: pointer;

  color: #12171a;
  line-height: 20px;
  font-weight: 500;

  transition: all .3s ease;
}

.header__exit:hover {
  background-color: #0091ff;
  color: white;
}

.main {
  margin-top: 64px;
  background-color: #f8f8f9;

  min-height: calc(100vh - 67px);
}

.main__content {
  display: flex;
  justify-content: space-between;
  align-items: end;

  margin-bottom: 24px;
}

.main__title {
  color: #12171a;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;

  margin-bottom: 5px;
}

.main__desc {
  color: #6f757a;
}

.main__add-button {
  display: flex;
  align-items: center;
  gap: 8px;

  background-color: #00397d;
  color: #fff;
  border-radius: 8px;
  padding: 8px 12px;

  line-height: 20px;
  font-weight: 500;

  transition: all .3s ease;
}

.main__add-button svg {
  width: 16px;
  height: 16px;
}

.main__add-button:hover {
  background-color: #194b90;
}

.indicators {
  display: flex;
  justify-content: space-between;
  gap: 24px;

  margin-bottom: 24px;
}

.indicators__indicator {
  background-color: #fff;
  border: 1px solid #dfe6eb;
  border-radius: 14px;
  padding: 16px;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;

  flex: 1;
  display: flex;
  align-items: center;
  gap: 12px;
}

.indicators__img {
  padding: 8px;
  border-radius: 10px;

  display: flex;
  
  align-items: center;
}

.indicators__img svg {
  height: 20px;
  width: 20px;
}

.indicator__img_green {
  background-color: #f5fff8;
  color: #00a63e;
}

.indicator__img_blue {
  background-color: #f5f9ff;
  color: #155dfb;
}

.indicator__img_orange {
  background-color: #fffaf3;
  color: #f54900;
}

.indicator__img_red {
  background-color: #fff7f7;
  color: #e7000b;
}

.indicator__img_purple {
  background-color: #fcf9ff;
  color: #9810fa;
}

.indicators__title {
  color: #6f757a;
  font-size: 12px;
  line-height: 16px;
}

.indicators__count {
  color: #12171a;
  font-weight: 700;
  line-height: 32px;
  font-size: 24px;
}

.search {
  background-color: #fff;
  border-radius: 14px;
  border: 1px solid #dfe6eb;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  margin-bottom: 24px;
}

.search__inputs {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.search__input {
  width: 100%;
  margin-bottom: 16px;
  padding: 4px 12px 4px 40px;
  border-radius: 8px;
  border: 1px solid #eff2f5;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  line-height: 20px;

  height: 36px;

  background-image: url(../../images/icons/search-icon.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position-y: center;
  background-position-x: 12px;
}

.search__input:focus {
  border: 1px solid #003884;
}

.search__filters {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  margin-bottom: 16px;
}

.search__filter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search__label {
  color: #12171a;
  line-height: 14px;
  font-weight: 500;
}

.search__select, .search__date {
  background-color: transparent;
  padding: 8px 12px;
  border: 1px solid #eff2f5;
  border-radius: 8px;

  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.search__buttons {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.search__button {
  display: flex;
  align-items: center;
  gap: 8px;

  background-color: #fff;
  border: 1px solid #dfe6eb;
  border-radius: 8px;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  color: #12171a;
  line-height: 20px;
  padding: 0 10px;
  height: 32px;

  cursor: pointer;

  transition: all .3s ease;
}

.search__button:hover {
  color: #fff;
  background-color: #0091ff;
}

.bookings {
  background-color: #fff;
  border-radius: 14px;
  border: 1px solid #dfe6eb;
  padding: 24px 0;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  margin-bottom: 24px;
}

.bookings__table {
  width: 100%;

  border-collapse: collapse;
}

.bookings__table-header {
  text-align: left;
}

.bookings__table-row {
  transition: background-color .3s ease;
}

.bookings__table-row:hover {
  background-color: #f2f5f8;
}

.bookings__table-head {
  padding: 0 8px;
  height: 40px;

  font-weight: 500;
  line-height: 20px;
  color: #12171a;
}

.bookings__table-head-button {
  font-weight: 500;
  line-height: 20px;
  color: #12171a;
  height: 40px;

  background-color: transparent;
  cursor: pointer;

  transition: all .3s ease;
}

.bookings__table-head-button:hover {
  color: #00397d;
}

.bookings__table-cell {
  border-top: 1px solid #dfe6eb;

  color: #12171a;
  padding: 8px;
  line-height: 20px;
}

.bookings__table-cell_bold {
  font-weight: 500;
}

.bookings__table-cell_gray {
  color: #6f757a;
}

.bookings__client {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bookings__table-cell_active {
  background-color: #dcfce7;
  border-radius: 10px;
  padding: 4px 12px;
  
  color: #026630;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.bookings__table-cell_confirmed {
  background-color: #dbeafe;
  border-radius: 10px;
  padding: 4px 12px;
  
  color: #193cb8;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.bookings__table-cell_cancelled, .bookings__table-cell_completed {
  background-color: #f3f4f6;
  border-radius: 10px;
  padding: 4px 12px;
  
  color: #1e2939;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.bookings__table-cell_overdue {
  background-color: #ffe2e2;
  border-radius: 10px;
  padding: 4px 12px;
  
  color: #9f0712;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.bookings__table-cell-action {
  display: inline-flex;
  justify-content: end;

  padding: 0 10px;
  border-radius: 8px;

  transition: all .3s ease;
}

.bookings__table-cell-action svg {
  height: 32px;
  width: 16px;
}

.bookings__table-cell-action:hover {
  background-color: #0091ff;
  color: white;
}

.bookings__table-head:last-child {
  text-align: right;
}

.bookings__table-cell:last-child {
  text-align: right;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__text {
  color: #6f757a;
  line-height: 20px;
}

.pagination__nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pagination__button {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 20px;
  color: #12171a;

  padding: 0 12px;
  height: 32px;

  background-color: #f8f8f9;
  border: 1px solid #dfe6eb;
  border-radius: 8px;

  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  transition: all .3s ease;
}

.pagination__pages {
  display: flex;
  align-items: center;
  gap: 4px;
}

.pagination__pages-button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f8f8f9;
  border: 1px solid #dfe6eb;
  border-radius: 8px;
  padding: 0 12px;
  height: 30px;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.pagination__button:hover, .pagination__pages-button:hover {
  background-color: #0091ff;
  color: white;
}

.pagination__button:disabled {
  background-color: #f8f8f9;
  color: #12171a;
  cursor: auto;

  opacity: .5;
}

.pagination__pages-button_current {
  background-color: #00397d;
  border-color: #00397d;
  box-shadow: none;
  
  color: #fff;

  cursor: auto;


  transition: all .3s ease;
}

.pagination__pages-button_current:hover {
  background-color: #194b90;
}